### Задание 3

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [2]:
import pandas as pd

In [71]:
ratings = pd.read_csv('C:/Netology/Homework/015_Advanced_Pandas/ml-latest-small/ratings.csv')

In [151]:
ratings.sample(3)

       userId  movieId  rating   timestamp
36555     262    80844     1.0  1433902396
1972       15     5991     1.0  1096005123
18328     119     3977     3.0   989622945

In [152]:
#Группируем по кол-ву оценок больше 100 со сбросом индекса (userId остается отдельным столбцом)
user_rating_100 = ratings.groupby('userId').count().query('rating >= 100').reset_index() 
user_rating_100 = user_rating_100[['userId', 'rating']] #ОСтавляем только указанные столбцы
user_rating_100.head(3)

   userId  rating
0       4     204
1       5     100
2       8     116

In [164]:
#Отбираем основной DF по timestamp  и находим разницу между max и min . Сохраняем в отдельный DF
filtered_timestamp = ratings[['userId', 'timestamp']]
filtered_timestamp_grouped = filtered_timestamp.groupby('userId')['timestamp'].agg([min, max]).reset_index()
filtered_timestamp_grouped['user_lifetime'] = filtered_timestamp_grouped['max'] - filtered_timestamp_grouped['min']
timestamp_diff = filtered_timestamp_grouped[['userId', 'user_lifetime']]
timestamp_diff.head(3)

   userId  user_lifetime
0       1             97
1       2            851
2       3          71198

In [165]:
# Соединяем полученные DF по столбцу userId используя ключи только user_rating_100
user_100_lifetime = user_rating_100.merge(timestamp_diff, on='userId', how='left')
user_100_lifetime.head(3)

   userId  rating  user_lifetime
0       4     204         203560
1       5     100           2101
2       8     116          85187

In [166]:
# Находлим среднее время жизни отобранных пользователей 
avg = user_100_lifetime['user_lifetime'].mean() / 216000
print(f' Среднее время жизни gпользователя с количеством оценок больше 100: {round(avg)} дня')

 Среднее время жизни gпользователя с количеством оценок больше 100: 182 дня