### Задание 1
Вернемся к набору данных о видеоиграх.

Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?
2) Критикам нравятся больше игры на PC или на PS4?
3) Критикам больше нравятся стрелялки или стратегии?

Для каждого вопроса:

сформулируйте нулевую и альтернативную гипотезы;
выберите пороговый уровень статистической значимости;
опишите полученные результаты статистического теста.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/stat_case_study/vgsales.csv')

In [24]:
df.sample(3)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
7612,NBA 07,PSP,2006.0,Sports,Sony Computer Entertainment,0.18,0.0,0.00,0.02,0.20,68.0,24.0,7,5.0,SCEA,E
15261,Eureka Seven Vol. 2: The New Vision,PS2,2006.0,Shooter,Namco Bandai Games,0.00,0.0,0.02,0.00,0.02,40.0,17.0,7,5.0,Namco Bandai Games America,T
3780,NBA 06,PS2,2005.0,Sports,Sony Computer Entertainment,0.26,0.2,0.00,0.07,0.53,63.0,26.0,6.3,27.0,SCEA Sports Studio,E

### 1. Как критики относятся к спортивным играм?  
Для ответа на первый вопрос условимся,   что количество баллов для положительной оценки критиков более 50. 
 
 #### Формулируем нулевую гипотезу.  
 
 Н0: Средняя оценка критиков по играм в жанре спорт меньше или равна 50.   
 Н1: Средняя оценка критиков по играм в жанре спорт более 50. 
 
 Уровень статистической значимости Alpha за неимением других данных будем принимать 0.05  
 
 Сравниваем значение по выборке с константой, поэтому нужен одновыборочный критерий.

#### Создадим выборку с отбором по играм в жанре Спорт

In [4]:
columns = ['Genre', 'Critic_Score']
df_sport = df.loc[df['Genre'] == 'Sports'][columns]
df_sport = df_sport[df_sport['Critic_Score'].notna()] # Удаляем строки с NaN, расчитываем только среди игр у которых есть оценка. 
df_sport.info()
df_sport.sample(3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1194 entries, 0 to 16555
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Genre         1194 non-null   object
 1   Critic_Score  1194 non-null   float64
dtypes: float64(1), object(1)
memory usage: 28.0+ KB

        Genre  Critic_Score
571    Sports          84.0
14891  Sports          68.0
9146   Sports          53.0

In [15]:
from scipy import stats as st
alpha = 0.05
res_sport = st.ttest_1samp(df_sport['Critic_Score'], 50, alternative='greater')

print(df_sport['Critic_Score'].mean())
print(res_sport)

if res_sport.pvalue < alpha: 
    print('Отвергаем нулевую гипотезу, средняя оценка больше 50 (жанр игр "Cпорт" нравится критикам)')
else:
    print('Не отвергаем нулевую  гипотезу, жанр "Спорт" не нравится критикам ')

71.96817420435511
Ttest_1sampResult(statistic=54.696017932916575, pvalue=0.0)
Отвергаем нулевую гипотезу, средняя оценка больше 50 (жанр игр "Cпорт" нравится критикам)

#### По результатам теста можно со 100% уверенностью сказать , что критики положительно оценивают игры в жанре "Спорт"

### 2.  Критикам нравятся больше игры на PC или на PS4?  
В следствие того, что сравниваем две выборки и необходимо определить в чью сторону перевес, будем использовать двухвыборочный двухсторонний критерий Т - Стьюдента.
 
 #### Формулируем нулевую гипотезу.  
 
 Н0: Средняя оценка критиков по платформам РС и  PS4 одинаковая.   
 Н1: Средняя оценка критиков по платформам РС и  PS4 различается. 
 
 Уровень статистическеой значимости Alpha за неимением других данных будем принимать 0.05

#### Сформируем две выборки

In [6]:
# Выбрка для платформы РС
columns = ['Platform', 'Critic_Score']
df_PC = df.loc[df['Platform'] == 'PC'][columns]
df_PC = df_PC[df_PC['Critic_Score'].notna()] # Удаляем строки с NaN, расчитываем только среди игр у которых есть оценка. 
df_PC.info()
df_PC.sample(3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 715 entries, 85 to 16709
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Platform      715 non-null    object
 1   Critic_Score  715 non-null    float64
dtypes: float64(1), object(1)
memory usage: 16.8+ KB

     Platform  Critic_Score
7266       PC          80.0
8694       PC          55.0
8494       PC          47.0

In [7]:
# Выбрка для платформы PS4
columns = ['Platform', 'Critic_Score']
df_PS4 = df.loc[df['Platform'] == 'PS4'][columns]
df_PS4 = df_PS4[df_PS4['Critic_Score'].notna()] # Удаляем строки с NaN, расчитываем только среди игр у которых есть оценка. 
df_PS4.info()
df_PS4.sample(3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252 entries, 42 to 16534
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Platform      252 non-null    object
 1   Critic_Score  252 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.9+ KB

      Platform  Critic_Score
12275      PS4          72.0
7967       PS4          69.0
10726      PS4          73.0

In [18]:
res_platform = st.ttest_ind(df_PC['Critic_Score'], df_PS4['Critic_Score'], equal_var=False)

print(df_PC['Critic_Score'].mean())
print(df_PS4['Critic_Score'].mean())

print(res_platform)

if (res_platform.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, критики по разному оценивают платформы РС  и PS4')
else:
    print('Не отвергаем нулевую гипотезу')

75.92867132867133
72.09126984126983
Ttest_indResult(statistic=4.3087588262138725, pvalue=2.067249157283479e-05)
Отвергаем нулевую гипотезу, критики по разному оценивают платформы РС  и PS4

### По результатам теста получаем, что в среднем критики  чуть лучше оценивают игры на PC. И с учетом P-value меньше Альфа эта разница статистически значима.  А значит отвергаем нулевую гипотезу  - Критикам больше нарвятся игры на платформе PC.

### 3. Критикам больше нравятся стрелялки или стратегии?  
Также необходимо вычислить есть ли различие между выборками, будем использовать двухвыборочный двухсторонний критерий Т - Стьюдента.

#### Формулируем нулевую гипотезу.
Н0: Средняя оценка критиков по жанрам Shooter и Strategy не различается.  
Н1: Средняя оценка критиков по платформам Shooter и Strategy различается.

Уровень статистическеой значимости Alpha за неимением других данных будем принимать 0.05

#### Сформируем две выборки

In [26]:
# Выборка по жанру Стрелялки 
columns = ['Genre', 'Critic_Score']
df = df[df['Critic_Score'].notna()] # Удаляем строки с NaN, расчитываем только среди игр у которых есть оценка.
df_Shooter = df.loc[df['Genre'] == 'Shooter'][columns]
df_Shooter.sample(3)

        Genre  Critic_Score
3535  Shooter          69.0
2662  Shooter          69.0
2188  Shooter          81.0

In [25]:
# Выборка по жанру Стратегии 
columns = ['Genre', 'Critic_Score']
df_Strategy= df.loc[df['Genre'] == 'Strategy'][columns]
df_Strategy.sample(3)

         Genre  Critic_Score
5379  Strategy          80.0
7692  Strategy          85.0
4788  Strategy          76.0

In [23]:
res_genre = st.ttest_ind(df_Shooter['Critic_Score'], df_Strategy['Critic_Score'], equal_var=False)

print(df_Shooter['Critic_Score'].mean())
print(df_Strategy['Critic_Score'].mean())

print(res_genre)

if (res_genre.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, критики по разному оценивают жанры Shooter и Strategy')
else:
    print('Не отвергаем нулевую гипотезу - Средняя оценка критиков по жанрам Shooter и Strategy не различается')

70.18114406779661
72.08609271523179
Ttest_indResult(statistic=-2.2972408230640315, pvalue=0.021938989522304823)
Отвергаем нулевую гипотезу, критики по разному оценивают жанры Shooter и Strategy

### По результатам теста получаем, что в среднем критики  чуть лучше оценивают игры в жанре Стратегии. . И с учетом P-value меньше Альфа эта разница статистически значима.  Соответственно отвергаем нулевую гипотезу  - Критикам больше нравятся игры в жанре Стратегии.